body{
    background-color: coral;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.ContenedorBotones{
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-left: 10px;
}

.BotonJuego{
  width: 100%;
  height: 200px;
  border-radius: 50px;
  max-width: 200px;
  max-height: 200px;
  display: inline-block;
}

#BotonRojo {
  background-color: red;
  margin-right: 10px;
}

#BotonVerde {
  background-color: green;
}

.ContendorBotonInicio{
    display: flex;
    justify-content: center;
}

#BotonInicio{
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    font-weight: bold;
}

#BotonAmarillo {
  background-color: yellow;
  margin-right: 10px;
}

#BotonAzul {
  background-color: blue;
}

  /* Adjust the layout for larger screens (e.g., tablets and desktops) */
@media screen and (min-width: 768px) {
  .ContenedorBotones {
      display: flex; 
  }
  
  .ContendorBotonInicio {
      display: flex;
      justify-content: center;
  }
}
  
  /* Adjust the layout for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 767px) {
  .ContendorBotonInicio {
     margin-top: 20px;
  }
}

.MenuContenedor, .ContenedorModal{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
}

#CotenedorNombre{
  background-color: black;
  padding: 10px;
  width: auto;
  color: rgb(255, 255, 255);
}

#Nombre{
  border: 1px solid #ccc;
  padding: 10px;
}

#FondoModal{
  background-color: red;
  padding: 10px;
  width: auto;
  color: rgb(0, 0, 0);
}

.ContenedorModal{
  display: none;
}

.ContenedorModal.MostrarModal{
  display: flex;
}
