body{
	background: rgb(39, 43, 52);;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	font-family: sans-serif;
}

.ContenedorMayorBotones {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.ContenedorBotones{
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(2, auto);
	flex-grow: 1;
	gap: 16px;
	position: relative;
}

.BotonJuego{
	width: 150px;
	height: 150px;
	margin: 0 !important;
	padding: 0;
	border: none;
	border-radius: 16px;
}

@media (min-width: 576px) {
	.BotonJuego{
		width: 200px;
		height: 200px;
	}	
}

#BotonRojo {
	background: rgb(244, 67, 54);
}

#BotonVerde {
	background: rgb(76, 175, 80);
}

#BotonAmarillo {
	background: rgb(255, 235, 59);
}

#BotonAzul {
	background: rgb(63, 81, 181);
}

#BotonRojo.show {
	background: rgb(247, 126, 118);
}

#BotonVerde.show {
	background: rgb(131, 218, 134);
}

#BotonAmarillo.show {
	background: rgb(255, 243, 139);
}

#BotonAzul.show {
	background: rgb(111, 122, 184);
}

.ContendorPuntuacion{
	display: none;
	margin-top: 2rem;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
}

.ContendorPuntuacion.show {
	display: flex;
}

.ContendorPuntuacion p{
	font-weight: bold;
	color: rgb(255, 255, 255);
}

.MenuContenedor, .ContenedorModal{
	display: none;
	justify-content: center;
	align-items: center;
	height: 100%;
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 1;
}

.MenuContenedor.show,
.ContenedorModal.show{
	display: flex;
}

#ContenedorNombre,
#FondoModal {
	background-color: rgb(34, 34, 34);
	padding: 16px;
	width: auto;
	color: rgb(255, 255, 255);
	border-radius: 8px;
	box-shadow: 0px 4px 8px -3px rgb(0, 0, 0);
}

#ContenedorNombre .titulo,
#FondoModal .titulo {
	text-align: center;
	font-weight: 600;
	font-size: 1.2rem;
	margin-bottom: 16px;
}

#FondoModal {
	padding: 24px 60px;
}

#Nombre{
	border: 1px solid rgb(204, 204, 204);
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	display: block;
}

.ContenedorBoton {
	display: flex;
	justify-content: center;
}

.cerrar-modal-contenedor {
	display: flex;
	justify-content: center;
}

#BotonNombre,
#CerrarModal {
	background: rgb(156, 39, 176);
	border: none;
	padding: 0.7rem 2rem;
	color: rgb(255, 255, 255);
	font-weight: 600;
	border-radius: 50px;
}

/* #FondoModal{
	background-color: #f8b0b0;
	border: 1px solid #c20000;
	padding: 10px;
	width: auto;
	color: #d61111;
	border-radius: 8px;
	text-align: center;
} */

.ContenedorModal{
	display: none;
}

.ContenedorModal.MostrarModal{
	display: flex;
}

.ContendorBotonInicio {
	margin-top: 2rem;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
}

#BotonInicio {
	background: rgb(156, 39, 176);
	border: none;
	padding: 0.7rem 2rem;
	color: rgb(255, 255, 255);
	font-weight: 600;
	border-radius: 50px;
	cursor: pointer;
}