body {
  background: rgb(39, 43, 52);
  display: flex; /*Se utilza flex*/
  justify-content: center; /*Centra el contenido horizontalmente*/
  align-items: center; /*Centra el contenido verticalmente*/
  flex-direction: column; /*Colocar los contenedores en columna uno debajo del otro*/
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

header {
  background-color: rgb(156, 39, 176);
  width: 100%;
}

header nav {
  margin: 20px 0;
}

header nav a {
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-decoration: none;
  margin: 0 10px;
}

header nav li {
  display: inline;
}

.ContenedorMayorBotones {
  display: flex;
  justify-content: center;
  align-items: baseline; /*Alinea el contenido verticalmente a la base del contenedor*/
  margin-top: 20px;
}

.ContenedorMayorBotones .ContenedorBotones {
  display: grid; /*Convierte el contenido en una tabla*/
  grid-template-columns: repeat(
    2,
    auto
  ); /*Convierte el contenido en tabla de 2x2*/
  grid-template-rows: repeat(2, auto);
  gap: 16px; /*	Espacio entre todos los elementos de la tabla*/
  position: relative;
}

.ContenedorMayorBotones .ContenedorBotones .BotonJuego {
  width: 150px;
  height: 150px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 16px;
}

#BotonRojo {
  background: rgb(244, 67, 54);
}

#BotonVerde {
  background: rgb(76, 175, 80);
}

#BotonAmarillo {
  background: rgb(255, 235, 59);
}

#BotonAzul {
  background: rgb(63, 81, 181);
}

#BotonRojo.show {
  background: rgb(247, 126, 118);
}

#BotonVerde.show {
  background: rgb(131, 218, 134);
}

#BotonAmarillo.show {
  background: rgb(255, 243, 139);
}

#BotonAzul.show {
  background: rgb(111, 122, 184);
}

.ContenedorMayorBotones .ContenedorBotones .ContendorPuntuacion {
  display: none; /* Oculto contenedor de puntuaci칩n*/
  margin-top: 32px;
  position: absolute; /*Flota el elemento dentro del contenedor padre*/
  top: 100%;
  left: 50%; /*Muevo el eje izquierdo del contenido al 50%*/
  transform: translateX(
    -50%
  ); /*Mueve el elemento sin cambiar el eje, utilizando el left como referencia*/
}

.ContenedorMayorBotones .ContenedorBotones .ContendorPuntuacion.show {
  /*se utiliza la clase show para mostrar el contenedor puntuacion por js*/
  display: flex;
}

.ContenedorMayorBotones .ContenedorBotones .ContendorPuntuacion p {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.ContenedorMayorBotones .ContendorBotonInicio {
  margin-top: 24px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

#BotonInicio {
  background: rgb(156, 39, 176);
  border: none;
  padding: 12px 32px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
}

.MenuContenedor,
.ContenedorModal {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1; /*Indica una posici칩n delante del objeto 0 index 0*/
}

.MenuContenedor.show, /*se utiliza la clase show para mostrar el modal ingresar nombre por js*/
.ContenedorModal.show {
  /*se utiliza la clase show para mostrar el modal de mensaje y puntuacion por js*/
  display: flex;
}

#ContenedorNombre,
#FondoModal {
  background-color: rgb(34, 34, 34);
  padding: 16px;
  width: auto;
  color: rgb(255, 255, 255);
  border-radius: 8px;
}

#ContenedorNombre .titulo,
#FondoModal .titulo {
  text-align: center; /*Centra el texto horizontalmente*/
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 16px;
}

#FondoModal {
  padding: 24px 60px;
}

#Nombre {
  border: 1px solid rgb(204, 204, 204);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
}

.MenuContenedor .ContenedorBoton {
  display: flex;
  justify-content: center;
}

.ContenedorModal .CerrarModalContenedor {
  display: flex;
  justify-content: center;
}

#BotonNombre,
#CerrarModal {
  background: rgb(156, 39, 176);
  border: none;
  padding: 12px 32px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  border-radius: 50px;
}

.ContenedorModal {
  display: none;
}

.ContenedorModal.MostrarModal {
  display: flex;
}

/* Estilos para p치gina de fomulario */
form#FormularioContacto {
  background-color: rgb(156, 39, 176);
  padding: 50px;
  margin: 20px;
}

form#FormularioContacto .FormularioBloque {
  margin: 20px 0;
}

form#FormularioContacto .FormularioBloque h1 {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
}

form#FormularioContacto .FormularioBloque label {
  color: rgb(255, 255, 255);
  font-weight: 50;
  font-size: 16px;
  width: 100px;
  display: block;
  margin-bottom: 5px;
}

form#FormularioContacto .FormularioBloque input,
form#FormularioContacto .FormularioBloque textarea {
  width: 100%;
}

/* Media query para m칩viles */
@media (min-width: 576px) {
  .ContenedorMayorBotones .ContenedorBotones .BotonJuego {
    width: 200px;
    height: 200px;
  }

  form#FormularioContacto .FormularioBloque label {
    display: inline-block;
    vertical-align: top;
    margin: 0;
  }

  form#FormularioContacto .FormularioBloque input,
  form#FormularioContacto .FormularioBloque textarea {
    width: auto;
  }
}
